<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="jameica.ical" version="2.7.0" class="de.willuhn.jameica.ical.Plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">

  <description>Plugin, welches Termine in eine ical-Datei exportiert</description>
  <url>https://www.willuhn.de/products/jameica/releases/nightly/jameica.ical-2.7.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/jameica</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.6.0+">
  </requires>

  <classfinder>
    <include>jameica\.ical\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="ical"      depends=""     autostart="true" class="de.willuhn.jameica.ical.service.IcalService" />
    <service name="scheduler" depends="ical" autostart="true" class="de.willuhn.jameica.ical.service.SchedulerService" />
  </services>
  
  <extensions>
    <extension class="de.willuhn.jameica.ical.ext.SettingsView"
             extends="de.willuhn.jameica.gui.internal.views.Settings"/>
  </extensions>
  
</plugin>

